{
  "semi": true,
  "trailingComma": "all",
  "singleQuote": false,
  "tabWidth": 4,
  "printWidth": 120,
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "singleAttributePerLine": true,
  "bracketSameLine": false,
  "endOfLine": "auto",
  "htmlWhitespaceSensitivity": "css",
  "jsxBracketSameLine": false,
  "quoteProps": "as-needed"
}